h1{
    text-align: center;
    margin: 20px;
    color: orangered;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.addproduct{
    text-align: center;
    margin: 20px;
}
.container {
    text-align: center;
}
.container img {
    width: 200px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.container button {
    margin-left: 5px ;
}
